*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: auto;
}
.container{
    /* margin: 0 auto; */
    width: 100%;
    height: auto;
    background-color: #e4f4f7;
}
/*INICIA HEADER*/
.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #4469fd;
    padding-left: 20px;
    box-sizing: border-box;
    color: white;
}
.logo img{
    width: 100px;
    margin-left: 5px;
}
.dropdown-categories{
    margin-left: 20px;
    color: black;
    font-family: 'Roboto',sans-serif;
}
.search{
    margin-left: 40px;
}
.search input{
    width: 700px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #4469fd;
}
.cart{
    margin-left: 50px;
    width: 30px;
}
.user-name{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
}
.user-name a{
    text-decoration: none;
    color: black;
}
.user-name a:hover{
    transition: 500ms;
    color: white;
}
.account{
    margin-left: 10px;
}
/*FINALIZA HEADER*/
/*INICIA PARTE PRINCIPAL*/
.container-three-parts{
    width: auto;
    height: auto;
     /* background-color: darkolivegreen; */
    display: flex;
    margin-bottom: -200px
}
.option-left{
    width: 20%;
    height: auto;
    background-color: #d1d1d1;
    padding-left: 30px;
    padding-top: 30px;
    box-sizing: border-box;
}
.general-center{
    width: 40%;
    height: auto;
    /* background-color: darkorchid; */
    padding-top: 50px;
    padding-left: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.general-center h2{
    font-family: 'Roboto', sans-serif;
}
.questions{
    /* background-color: royalblue; */
    width: 90%;
    height: 110px;
    margin-top: 50px;
    color: #888e8f;
    line-height: 30px;
}
.questions h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.questions p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}
.questions img{
    width: 25px;
    margin-right: 10px;
}
.questions-separator{
    border-bottom: 1px solid black;
}
.shop{
    /* background-color: coral; */
    width: 90%;
    height: 250px;
    margin-top: 150px;
    color: #888e8f;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 30px;
}
.shop img{
    width: 25px;
    margin-right: 10px;
}
.shop h2{
    display: flex;
    align-items: center;
}
.option-right{
    width: 300px;
    height: auto;
    /*background-color: darkorange;*/
}
.option-right h2{
    font-family: 'Roboto', sans-serif;
    /* background-color: seagreen; */
    margin-left: 110px;
    margin-top: 100px;
}
.favorite-container{
    margin-top: 0px;
}
.favorite1{
    /* background-color: cornflowerblue; */
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    height: 230px;
    margin-bottom: 20px;
    margin-left: 50px;
    display: flex;
}
.favorite1 img{
    width: 50%;
    height: 150px;
    margin-top: 50px;
    margin-left: 10px;
}
.favorite-text{
    /* background-color: blueviolet; */
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
    text-align: center;
    margin-top: 60px;
}
.favorite-text span{
    font-size: 10px;
    color: red;
}
.my-account{
    display: flex;
    width: 100%;
    height: auto;
    /*background-color: darkorange;*/
    align-items: center;
    margin-bottom: 50px;
    margin-top: 100px;
}
.my-account img{
    width: 30px;
}
.purchase{
    display: flex;
    width: 100%;
    height: auto;
    /*background-color: darkorange;*/
    align-items: center;
    margin-bottom: 50px;
}
.purchase img{
    width: 30px;
}
.sale{
    display: flex;
    width: 100%;
    height: auto;
    /*background-color: darkorange;*/
    align-items: center;
    margin-bottom: 50px;
}
.sale img{
    width: 30px;
}
.reputation{
    display: flex;
    width: 100%;
    height: auto;
    /*background-color: darkorange;*/
    align-items: center;
    margin-bottom: 20px;
}
.reputation img{
    width: 30px;
}
.configuration{
    display: flex;
    width: 100%;
    height: auto;
    /*background-color: darkorange;*/
    align-items: center;
    margin-bottom: 20px;
    margin-top: 220px;
}
.configuration img{
    width: 30px;
}
.configuration h3{
    margin-left: 20px;
    font-size: 17px;
}
.configuration a{
    text-decoration: none;
    color: black;
}
.configuration a:hover{
    transition: 500ms;
    color: #4469fd;
}
.option-left button{
    margin-left: 12px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #4469fd;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.option-left button:hover{
    transition: 500ms;
    background-color: #4469fd;
    color: white;
}
.separator{
    width: 5px;
    height: 600px;
    margin-top: 50px;
    border-left: 4px solid #808080;
}
/*FIN PARTE PRINCIPAL*/
/*INICIA FOOTER*/
footer{
	position: static;
	bottom: 0;
}
.footer-distributed{
	background-color: #394a6d;
	box-sizing: border-box;
	width: 100%;
  	height: 200px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 200;
	padding: 10px 50px 200px 60px;
	margin-top: 200px; /* La distancia del footer con el contenido */
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.phone{
	color: white;
	text-decoration: none;
}
.phone:hover{
	transition: 500ms;
	color: #62d1ec;
}
.maillogin{
    color: orange;
    text-decoration: none;
}
.maillogin:hover{
    transition: 500ms;
	color: #62d1ec;
}
/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	font-weight: 200;
	margin: 0;
}
/* The company logo */
.footer-distributed .footer-left img{
	width: 30%;
}
.footer-distributed h3 span{
	color:  #e0ac1c;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-links a:hover{
	transition: 500ms;
	color: #62d1ec
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
/*FINALIZA FOOTER*/
@media (max-width: 1262px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;

	}
  .footer-distributed{
    height:auto;
  }
  footer { position: static; }

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

    .option-left{
        width: 30%;
    }
    .option-left button{
        width: 50%;
        font-size: 10px;
    }
    .configuration button{
        font-size: 10px;
    }
    .separator{
        display: none;
    }
    .option-right{
        display: none;
    }
    .general-center{
        width: 100%;
    }
    .header{
        width: 100%;
        display: block;
        text-align: center;
        height: 130px;
    }
    .logo{
        margin-left: 30px;
    }
    .dropdown-categories{
        margin-left: 35px;
    }
    .search input{
        width: 100%;
    }
    .account{
        display: none;
    }
    .cart{
        display: none;
    }
}
@media (max-width: 640px){
    .option-left .boton-1{
      background: url('../img/account.svg') center;
      background-size: 100% 100%;
      border: none;
      cursor: pointer;
      padding: 5px 15px;
      color: white;
    }
    .option-left .boton-2{
      background: url('../img/shopping-bag-solid.svg') center;
      background-size: 100% 100%;
      border: none;
      cursor: pointer;
      padding: 5px 15px;
      color: white;

    }
    .option-left .boton-3{
      background: url('../img/sales2.png') center no-repeat;
      background-size: 80% 80%;
      border: none;
      cursor: pointer;
      padding: 5px 15px;
      color: white;

    }
    .option-left .boton-4{
      background: url('../img/medal-solid.svg') center;
      background-size: 100% 100%;
      border: none;
      cursor: pointer;
      padding: 5px 15px;
      color: white;

    }
    .option-left .boton-5{
      background: url('../img/cog-solid.svg') center;
      background-size: 100% 100%;
      border: none;
      cursor: pointer;
      padding: 5px 15px;
      color: white;

    }
    .option-left button p{

        display: none;
    }
    .option-left{
        width: 51%;
    }
    .option-left img{
        display: none;
    }
    .option-left button{
        width: 100%;
        height:100px;
        margin-left: -20px;
        font-size: 15px;
    }
    .configuration button{
        font-size: 15px;
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .search input{
        width: 100%;
    }
}
/*ESTILOS ADICIONALES*/
.email{
    color: orange;
    text-decoration: none;
}
.email a:hover{
    transition: 500ms;
    color: #62d1ec;
}