/*INICIA RESPONSIVE*/
@media screen and (max-width:640px) {
  /* reglas CSS */
  .container-1{
    width: 100%;
  }
  .h1-login h1{
    width: 100%;
    font-size: 25px;
  }
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }
}
@media screen and (max-width:1024px) and (min-width:640px) {
  /* reglas CSS */
    .container-1{
    width: 50%;
    }
}
@media screen and (min-width:1024px) {
  /* reglas CSS */
    .container-1{
    width: 50%;
    }
}
/*FINALIZA RESPONSIVE*/
/*INICIA SECTION*/
* {
  margin: 0;
  padding: 0;
}
.logo img{
    width: 183px;
    height: 62px;
}
.email1{
    /*background-color: darkgray;*/
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.email1 input{
    width: 550px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #b97778;
}
.email{
    text-decoration: none;
    color: orange;
}
.email:hover{
    transition: 500ms;
	color: #62d1ec;
}
.container-login{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /* margin: 0 auto; */
    height: 1111px;
}
.header-login{
    width: 100%;
    background-color: #4569fd;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    height: 555.5px;
}
.h1-login{
    /*background-color: darkcyan;*/
    text-align: center;
    /* width: 50%; */
    margin: 0 auto;
    position: relative;
    font-size: 20px;
    bottom: 350px;
    color: black;
}
.container-1{
    overflow:hidden;
    background-color:rgb(98, 209, 236);
    margin: 0 auto;
    /* width: 50%; */
    border-radius: 20px;
    border: 4px solid white;
    padding: 4px;
    bottom: 350px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.container-1 button{
    position: relative;
    left: 530px;
    bottom: 20px;
}
.button-img{
    /* background-color: brown; */
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.button-img img{
    width: 50px;
}
.password-login{
    /*background-color: darkgreen;*/
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.password-login input{
    width: 550px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #b97778;
}
.forget{
    height: 40px;
    margin: 20px 47px;
    box-sizing: border-box;
}
.forget a{
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255,255,255,0.941);
    text-decoration: none;
}
.forget a:hover{
    transition: 500ms;
    color: black;
}
.create{
  height: 40px;
  margin: -20px 47px;
    box-sizing: border-box;
}
.create a{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(255,255,255,0.941);
  text-decoration: none;
}
.create a:hover{
    transition: 500ms;
    color: black;
}
#email {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(1,1,1,0.431);
}
#password {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(1,1,1,0.431);
}
/*FINALIZA SECTION*/
/*INICIA FOOTER*/
footer{
    position: static;
    bottom: 0;
}
.footer-distributed{
	background-color: #394a6d;
	box-sizing: border-box;
	width: 100%;
  	height: 200px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 200;
	padding: 10px 50px 200px 60px;
	margin-top: 200px; /* La distancia del footer con el contenido */
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.phone{
	color: white;
	text-decoration: none;
}
.phone:hover{
	transition: 500ms;
	color: #62d1ec;
}
.maillogin{
    color: orange;
    text-decoration: none;
}
.maillogin:hover{
    transition: 500ms;
	color: #62d1ec;
}
/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	font-weight: 200;
	margin: 0;
}
/* The company logo */
.footer-distributed .footer-left img{
	width: 30%;
}
.footer-distributed h3 span{
	color:  #e0ac1c;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-links a:hover{
	transition: 500ms;
	color: #62d1ec
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
/*FINALIZA FOOTER*/
@media (max-width: 1038px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;

	}
  .footer-distributed{
    height:auto;
  }
  footer { position: static; }

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
/*ESTILOS ADICIONALES*/
small{
    font-size: 20px;
    color: red;
    display: block;
    font-weight: 800;

}
.form-check{
    margin-left:50px;
    font-size: 20px;
}