.container{
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #e4f4f7;
}
.another-container{
  overflow:hidden;
  width: 100%;
  height: auto;
}
/*INICIA HEADER*/
.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #4469fd;
    padding-left: 20px;
    box-sizing: border-box;
    color: white;
}
.logo img{
    width: 100px;
    margin-left: 5px;
}
.dropdown-categories{
    margin-left: 20px;
    color: black;
    font-family: 'Roboto',sans-serif;
}
.search{
    margin-left: 40px;
}
.search input{
    width: 700px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #4469fd;
}
.cart{
    margin-left: 70px;
    width: 30px;
}
.user-name{
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
}
.user-name a{
    text-decoration: none;
    color: black;
}
.user-name a:hover{
    transition: 500ms;
    color: white;
}
.account{
    margin-left: 20px;
}
/*FINALIZA HEADER*/
/*INICIA SECCION DETAIL PRINCIPAL*/

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
}
.main-detail{
    background-color: white;
    margin: 60px auto;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
}
.product-add{
    /* background-color: darkgrey; */
    border-right: 1px solid black;
    width: 300px;
    height: 500px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}
.selectors{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selectors select{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.credit-card{
    display: flex;
    justify-content: center;
}
.credit-card img{
    width: 30px;
    margin-right: 20px;
}
.credit-card h5{
    color: #828282;
    font-family: 'Roboto', sans-serif;
}
.ship{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
.ship img{
    width: 30px;
    margin-right: 20px;
}
.ship h5{
    color: #828282;
    font-family: 'Roboto', sans-serif;
}
.product-add button{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    background-color: #d3f2f5;
    border-radius: 10px;
    border: 1px solid #d3f2f5;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.stock{
    margin-top: 70px;
    line-height: 0px;
}
.stock h2{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
.stock h6{
    color: #828282;
    font-family: 'Roboto', sans-serif;
}
.product-img{
    /* background-color: darkkhaki; */
    width: 700px;
    border-bottom: 1px solid black;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
}
.product-img img{
    width: 400px;
    height: 399px;
}
.product-mini{
    /* background-color: darkorange; */
    width: 700px;
    height: 100px;
    display: table;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.product-mini img{
    width: 115px;
    height: 92px;
    border-right: 1px solid black;
}
.product-mini img:last-child{
    border: none;
}
/*FINALIZA SECCION DETAIL PRINCIPAL*/
/*INICIA SECCION SUBDETAIL*/
.sub-detail{
    background-color: white;
    margin: 60px auto;
    width: 980px;
    height: 500px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
}
.features-title{
    /* background-color: lightcoral; */
    width: 290px;
    height: 500px;
    padding-top: 15px;
    box-sizing: border-box;
    border-right: 1px solid black;
}
.title{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.product-details{
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 20px;
    line-height: 20px;
}
.product-details h3{
    font-family: 'Roboto', sans-serif;
}
.product-details span{
    color: #828282;
    font-family: 'Roboto', sans-serif;
}
.description{
    /* background-color: yellowgreen; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 60%;
    height: auto;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 11px;
    padding-right: 40px;
    line-height: 20px;
}
.aside{
    padding-left: 10%;
}
.description h3{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
.description p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
}
/*FINALIZA SECCION SUBDETAIL*/
.similar-title{
    text-align: center;
    color: #747c7e;
    font-family: 'Roboto', sans-serif;
}
/*INICIA SECTION SIMILAR*/
.similar{
    /* background-color: darkgoldenrod; */
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    margin-bottom: -150px;
}
.similar-product{
    background-color: white;
    width: 210px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 200;
}
.similar-product img{
    width: 200px;
    height: 190px;
    margin-top: 10px;
}
/*FIN SECTION SIMILAR*/
/*INICIA FOOTER*/
footer{
	position: static;
	bottom: 0;
}
.footer-distributed{
	background-color: #394a6d;
	box-sizing: border-box;
	width: 100%;
  	height: 200px;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 200;
	padding: 10px 50px 200px 60px;
	margin-top: 200px; /* La distancia del footer con el contenido */
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.phone{
	color: white;
	text-decoration: none;
}
.phone:hover{
	transition: 500ms;
	color: #62d1ec;
}
.email{
	color: orange;
	text-decoration: none;
}
.email a:hover{
	transition: 500ms;
	color: #62d1ec;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
	font-weight: 200;
	margin: 0;
}
/* The company logo */
.footer-distributed .footer-left img{
	width: 30%;
}
.footer-distributed h3 span{
	color:  #e0ac1c;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-links a:hover{
	transition: 500ms;
	color: #62d1ec
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
/*FINALIZA FOOTER*/
@media (max-width: 1300px) {
    .container{
        width: 100%;
    }
    /**/
    .header{
        width: auto;
        height: 180px;
        display: block;
        text-align: center;
        padding-top: 10px;
        margin-left: -30px;
    }
    .logo{
        margin-left: 30px;
    }
    .dropdown-categories{
        margin-left: 40px;
    }
    .search{
        margin-left: 40px;
    }
    .search input{
        width: 90%;
    }
    .cart{
        display: none;
    }
    .account{
        display: none;
    }
    .main-cart{
        width: auto;
        height: 580px;
    }
    /**/
    .main-detail{
        width: 100%;
        height: auto;
    }
    .product-add{
        width: auto;
    }
    .product-add h1{
        font-size: 20px;
    }
    .stock h2{
        font-size: 20px;
    }
    .selectors select{
        width: 130px;
    }
    .credit-card{
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
    }
    .credit-card img{
        width: 20px;
    }
    .ship img{
        width: 20px;
    }
    .product-add button{
        margin-top: 0;
        width: 150px;
    }
    .product-img{
        margin: 0 -100px;
        width: 400px;
        position: relative;
        left: 100px;
        /* background-color: red; */
    }
    .product-mini{
        width: 100%;
        height: auto;
    }
    .product-mini img{
        width: auto;
        border: none;
        /* width: 80px; */
    }
    .sub-detail{
        width: auto;
    }
    .features-title{
        width: auto;
    }
    .title{
        font-size: 15px;
    }
    .product-details{
        width: auto;
    }
    .description{
        width: auto;
    }
    .description p{
        font-size: 13px;
    }
    .similar{
        width: auto;
        height: 1120px;
        display: flex;
        flex-direction: column;
    }
    .footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
    .footer-distributed{
        height: auto;
    }
    footer {
        position: static;
    }
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

.product-img img{
    width: 300px;
}
.product-mini img{
    width: auto;
    border: none;
    width: 50px;
}

@media (max-width: 1200px){
    .product-img{
        margin: 0 150px;
        width: 400px;
        position: relative;
        left: 100px;
        /* background-color: red; */
    }
}
@media (max-width: 800px){
    .product-img{
        margin: 0 -90px;
        width: 400px;
        position: relative;
        left: 100px;
        /* background-color: red; */
    }
}
@media (max-width: 705px){
    .description p{
        font-size: 11px;
    }
}
@media (max-width: 705px){
    .description p{
        font-size: 9px;
    }
}
@media (max-width: 650px){
    .product-img{
        margin: 0 -140px;
        width: 400px;
        position: relative;
        left: 100px;
        /* background-color: red; */
    }
    .product-img img{
        width: 300px;
    }
    .product-mini img{
        width: auto;
        border: none;
        width: 50px;
    }
}
@media (max-width: 500px){
    .product-img{
      /* margin: 7px -170px; */
    margin-top: 2px;
    margin-left: -188px;
    margin-bottom: 2px;
    margin-right: 2px;
    width: auto;
    height: auto;
    position: relative;
    left: 100px;
     /* background-color: red; */
    /* border-bottom: none; */
    }
    .product-img img{
        width: 200px;
    }
    .product-img{
        overflow: hidden;
    }
    .product-mini img{
        width: auto;
        border: none;
        width: 50px;
    }
    .product-mini img:last-child{
        display: none;
    }
}
