
.container{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    background-color: #ecfcff;
    margin: 0 auto;
    z-index: 0;
}

/*css MOVIL*/
@media only screen and (max-width: 425px){
    .header{
        display: none;
    }
    .logo{float: right;}
    .logo img{
        width: 100px;
    }
    a {
        color: #000;
      }
      
      /* header-movil */
      
      .header-movil {
        background-color: #496dfaf8;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
        position: fixed;
        font-size: 25px;
        width: 100%;
        z-index: 3;
        margin-top: -8px;
        margin-left: -8px;
      }
      
      .header-movil ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #496dfaf8;
      }
      
      .header-movil li a {
        display: block;
        padding: 20px 40px;
        border-right: 1px solid #496dfaf8;
        text-decoration: none;
      }
      
      .categorias-nav{
        display: flex;
       flex-wrap: wrap;
      }
      
      .header-movil li .categorias-nav a{
        width: 147px;  
        padding: 20px 60px;
        border-right: 1px solid #496dfaf8;
        text-decoration: none;
         }
      
      .header-movil li a:hover,
      .header-movil .menu-btn:hover {
        background-color: #f4f4f4;
      }
      
      .header-movil .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
      }
      
      /* menu */
      
      .header-movil .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
      }
      
      /* menu icon */
      
      .header-movil .menu-icon {
        cursor: pointer;
        float: right;
        padding: 35px 25px;
        position: relative;
        user-select: none;
      }
      
      .header-movil .menu-icon .nav-icon {
        background: #333;
        display: block;
        height: 2px;
        position: relative;
        transition: background .2s ease-out;
        width: 18px;
      }
      
      .header-movil .menu-icon .nav-icon:before,
      .header-movil .menu-icon .nav-icon:after {
        background: #333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
      }
      
      .header-movil .menu-icon .nav-icon:before {
        top: 5px;
      }
      
      .header-movil .menu-icon .nav-icon:after {
        top: -5px;
      }
      
      /* menu btn */
      
      .header-movil .menu-btn {
        display: none;
      }
      
      .header-movil .menu-btn:checked ~ .menu {
        max-height: max-content;
        text-align: center;
      }
      
      .header-movil .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
      }
      
      .header-movil .menu-btn:checked ~ .menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top:0;
      }
      
      .header-movil .menu-btn:checked ~ .menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top:0;
      }
      .search{
              width: 50%;
              float: right;
          margin-right: 190px;
          margin-top: 15px;
          }
          .search input{
              width: 100%;
              padding: 3%;
              border-radius: 10px;
              border: 1px solid #496dfaf8;
          }
    .fa-shopping-cart {
        position: absolute;
        right: 115px;
        top: 25px;}
    .fa-user-circle{
        position: absolute;
        right: 45px;
        top: 25px;
    }    
    .img1M{
        margin-top: 50px;
        margin-left: 25px;
    }
    .tendencias-title{ 
        text-align: center;
        font-size: 50px;
       color: #747c7e;
       margin-bottom: 1%;
       margin-top: -10px;
       margin-inline-start: 2%;

    }
    .tendenciasM{
        height: 120px;
        background-color: #b2fcff;
        margin-left: 73px;
        margin-right: 73px;
        border: 1px solid black;}

    .img2M{margin-bottom: -150px;}
    .img3M{margin-top: -70px;
            margin-bottom: -50px;
        }

    .title-categoriasM{
        text-align: center;
        font-size: 50px;
       color: #747c7e;
       margin-bottom: 1%;
       margin-top: -10px;
       margin-inline-start: 2%;
    }
    .categoriasM{display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
    .catbox{
        background-color: white;
        width: 210px;
        margin: 57px;
        text-align: center;
        border: 1px solid;
        border-radius: 20px;
        font-size: 30px;}
    /*BORRANDO CONTENIDO PARA MOBIL*/
    .img1,.tendencias, .lazaminetos-title, .similar, .footer{  
        display: none;   
    }
    .recomendacionesM{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        margin: 60px;
        border:1px solid;}
    
    .recomendacionesM h3{
        
        font-size: 21px;
        margin: 25px;
    }

    .boxrec{
        width: 50%;
        height: 300px;
        margin:-1px;
        border: 1px solid;
        font-weight: bolder;
        text-align: center;
        font-size: 24px;
    }
    .boxrecimg{
        width: 65%;
        margin: 10px 60px;
    }
    .historialM{ 
        background-color: white;
        border-radius: 20px;
        margin: 60px;
        border:1px solid;}

    .historialM h3{
            font-size: 21px;
            margin: 25px;
    }
    .boxhist{
        border: 1px solid;
        font-weight: bolder;
        font-size: 24px;}  

    .boxhist img{
        width: 85%;
        margin: 1px 50px} 

    .boxhist p{
        margin-inline-start: 10px; 
    } 
    footer{
        position: static;
        bottom: 0;
    }
    .footer-distributed{
        background-color: #394a6d;
        box-sizing: border-box;
        font: bold 30px sans-serif;
        padding: 20px 180px;
        text-align: center;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }
    .phone{
        color: white;
        text-decoration: none;
    }
    /* Footer left */
    
    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
    /* The company logo */
    .footer-distributed .footer-left img{
        width: 50%;
    }
    .footer-distributed h3 span{
        color:  #e0ac1c;
    }
    /* Footer links */
    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
    }
    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        text-decoration: none;
        color:  inherit;
    }
    .footer-distributed .footer-company-name{
        color:  #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    /* Footer Center */
    .footer-distributed .footer-center{
        padding: 20px 0;
        text-align: left;
    }
    .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        
    }
    .footer-distributed .footer-center p a{
        color:  #e0ac1c;
        text-decoration: none;;
    }
    .fa-map-marker{
        position: absolute;
        bottom: 390px;}
    /* Footer Right */
    
    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 15px;
        font-weight: normal;
        margin: 0;
    }
    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 20px;
        font-weight: bold;
        /* margin-bottom: 20px; */
    }
    .footer-distributed .footer-icons{
        margin-top: 25px;
    }
    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    
    
}

/*CSS MAYOR A 425 PX*/
@media only screen and (min-width: 426px) {

    /*OCULTAR HTML MOVIL*/
    .img1M, .img2M, .tendenciasM, .img3M, .title-categoriasM, .categoriasM, .recomendacionesM, .historialM, .header-movil{
        display: none;
    }


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background-color: #3e64ff;
    box-sizing: border-box;
    color: black;
    position: fixed; 
    z-index: 2;
    top: 0;
}
.logo{float: right;}
.logo img{
    width: 100px;
}
/* BOTON CATEGORIAS*/
.fa-angle-down{color:black;}
.dropbtn {
    background-color: #3e64ff;
    color: black;
    font-size: 30px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e64ff;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
  
  .dropdown-content a:hover {background-color: #b2fcff}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 /*BARRA DE BUSQUEDA   */    

.search{
    width: 50%;

}
.search input{
    width: 100%;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid #496dfaf8;
}

/*FIN BARRA DE BUSQUEDA*/

.botonnav2{margin-right: 15px;} 


.botonnav1 a,.botonnav2 a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
}
.botonnav1 a:hover{
    transition: 500ms;
    color: white;
}
.botonnav2 a:hover{
    transition: 500ms;
    color: white;
}

.img1{
    width: 100%;
margin-top: 4%;
}
/*TENDENCIAS*/
.tendencias{
    position: relative;
    width: 96%;
    height: 500px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #b2fcff;
}
.tendencias-title{ 
    text-align: center;
   color: #747c7e;
   margin-bottom: 1%;
   margin-top: 0;
   margin-inline-start: 2%;

}

.box-t1{
    background-color: #b2fcff;
    width: 50%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 2px 0px 46px -13px rgba(0,0,0,0.75);
}
.img2{
    position: absolute;
    left: -3.4%;
    bottom: -7.2%;
    margin: 0 auto;
    width: 57%;
    height: 112%;
}
.box-t2{
    background-color: #b2fcff;
    position: absolute;
    right: 0%;
    top: 0%;
    width: 47%;
    height: 48%;
    border-radius: 15px;
    box-shadow: 2px 0px 46px -13px rgba(0,0,0,0.75);
}
.img3{
    position: absolute;
    right: -4%;
    top: -5%;
    width: 108%;
    height: 114%;

}
.box-t3{
    background-color: #b2fcff;
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 47%;
    height: 48%;
    border-radius: 15px;
    box-shadow: 2px 0px 46px -13px rgba(0,0,0,0.75);

}
.img4{
    position: absolute;
    right: -4%;
    bottom: -9.7%;
    width: 108%;
    height: 115%;
    } 
/*LANZAMIENTOS*/

.lazaminetos-title{ 
    text-align: center;
   color: #747c7e;
   margin-bottom: 1%;
   margin-inline-start: 2%; 
}
.similar{
    
    margin: 0 auto;
    width: 1000px;
    height: 300px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
}
.similar-product{
    background-color: white;
    width: 210px;
    height: 250px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.similar-product img{
    width: 200px;
    height: 190px;
    margin-top: 10px;
}

/*INICIA FOOTER*/
footer{
	position: static;
	bottom: 0;
}
.footer-distributed{
	background-color: #394a6d;
	box-sizing: border-box;
	width: 100%;
  	height: 200px;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 10px 50px 200px 60px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.phone{
	color: white;
	text-decoration: none;
}
.phone:hover{
    transition: 500ms;
    color: #62d1ec;
}
.email{
    text-decoration: none;
    color: orange;
}
.email:hover{
    transition: 500ms;
    color: #62d1ec;
}
/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
/* The company logo */
.footer-distributed .footer-left img{
	width: 30%;
}
.footer-distributed h3 span{
	color:  #e0ac1c;
}
/* Footer links */
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-links a:hover{
    transition: 500ms;
    color: #62d1ec;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
.fa-map-marker{   
    position: absolute;
    bottom: 158px;}
/* Footer Right */
.footer-distributed .footer-right{
	width: 30%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
}